body{
    width:550px
        
}

span {
    font-weight:bold;
    font-size: 24px;
}

.employee {
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px ;
    
}

.title {
    float:left;width:300px
    
}

.eName {
    float:none;
    display:block;
    width:250px;
    
}

span.title {
    display:block;
}

span.department {
    display:block;
}

span.email {
    display:block;
}

img {
    float:left;
    height:240px;
/*    display:inline-block;*/
}
.department{
    width:200px
    float: left}
.bio{
    float:none;
        text-overflow: auto
}


