

span {
    font-weight:bold;
    font-size: 24px;
}

.employee {
    border:1px solid black;
    border-radius: 10px;
    
}

.title {
    float:left;
}

.eName {
    float:left;
    display:block;
}

span.title {
    display:block;
}

span.department {
    display:block;
}

span.email {
    display:block;
}

img {
    float:left;
    display:inline-block;
    
}


